<!DOCTYPE html>
<html lang="en">
<head>
	<title>Eatlo</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="/bundles/eatloapp/images/favicon.ico">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<script src= "/bundles/eatloapp/js/angular.min.js"></script>
	<script src="/bundles/eatloapp/js/angular-route.min.js"></script>
	<script src="/bundles/eatloapp/js/app/models/app.js"></script>
	<script src="/bundles/eatloapp/js/menu.js"></script>
	<script src="/bundles/eatloapp/js/app/controllers/app.js"></script>
	<link rel="stylesheet" href="/bundles/eatloapp/css/style.css">
</head>
<body>
<div ng-app="myApp">  
	<header>
		<div class="container-fluid">
			<span id="menu-nav" class="col-lg-5 col-md-5 col-sm-4 col-xs-4"> <span id="locality-text"></span><br><a id="change-outlet" href="/">Change-outlet</a> </span>
			<a class="col-lg-4 col-md-4 col-sm-3 col-xs-6" href="#"><img id="logo" src="/bundles/eatloapp/images/logo.png"></a>
			<div id="icon-container" class="navbar-header">
				<button type="button" class="navbar-toggle collapsed col-xs-1" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				</button>
				<div class="collapse navbar-collapse col-lg-4 col-md-4 col-sm-4 col-xs-5 pull-right" id="bs-example-navbar-collapse-1">
				  <ul id="social-icon-container" class="nav navbar-nav pull-right">        
				    <li><a href="#"><img src="/bundles/eatloapp/images/social-icons/fb.png"></a></li>
				    <li><a href="#"><img src="/bundles/eatloapp/images/social-icons/twitter.png"></a></li>
				    <li><a href="#"><img src="/bundles/eatloapp/images/social-icons/android.png"></a></li>
				    <li><a href="#"><img src="/bundles/eatloapp/images/social-icons/ios.png"></a></li>
				    
				  </ul>
				</div>
			</div>
		</div> 
	</header>	
	<div ng-view> </div>	
	<div id="footer"> </div>
</div>    
</body>
</html>
