<div class="container-fluid text-justify"> 
      <div class="header_01 border_bottom"> Career in Shain Events </div>
            <div>
                  As with any business, we’re only as good as our people, so we take
great care to build a unique team of professionals. We are on constant
lookout for interesting and capable individuals to add to our family.
            </div>
            <div class="header_02"> We are looking for:</div>
            <div class="career">
            <b><li>Graphic Designer </b>
            - Experienced in events design, backdrop visuals, banner design,bunting design, etc </li>
            </div>
            <div class="career">
            <b><li>Multimedia Designer</b>
            - Experienced in design, floor plans, visuals, artist impressions, etc </li>
            </div>
            <div class="career">
            <b><li>Event Crew</b>
            - Must be outgoing and able to communicate with corporate personnel of all levels </li>
            </div>
            <div class="career">
            <b><li>Entertainer</b>
            - If you have a unique act or special talent you would like to perform on stage, contact us now!
            </div>
             <div class="header_02"> 
                  It will be exciting if you are also with us...
            </div>
            <div class="header_03">
                  If you are interested in building your career in event management, send us your resume with attached photo at career@shainevents.com.
            </div>
            
           
</div>     
<div class="cleaner"> </div>







     

