<div class="header_01 border_bottom"> Contact us </div>
<div class="text-justify col-lg-5 col-md-5 col-sm-12 col-xs-12" >
	<h3 class="green">Reach Us</h3>
	<p>Please use the contact form on the right side if you have any questions or requests, concerning our services.</p>
	<p>
		<strong>Contact us:</strong>
		Info@shainevents.com </br>
		&nbsp &nbsp 07879977770
	</p>
	<p>
		<strong>Co-Founder  :</strong>
		Sharad Gavel </br>
		Sharad@shainevents.com
	</p>
	<p>
		<strong>Operation Head: </strong>
		Vijay Sahu </br>
		Vijay@shainevents.com 
	</p>
  	<p>
		Raipur C.G.
	</p>
</div>
<div class="col-lg-7 col-md-5 col-sm-12 col-xs-12">
	<div class ="query-form ">
		<h3>Enquiry</h3>
		Thank you for your interest in Our services. Please provide the following information to help us to serve you better.You should receive a response within 48 hours.
		<form class="form-horizontal">
			<div class="form-group">
			    <label for="inputEmail3" class="col-sm-4 col-lg-4 control-label">Name:</label>
			    <div class="col-sm-6 col-lg-6">
			      <input type="text" class="form-control" id="inputEmail3" placeholder="Name">
			    </div>
			 </div>
			<div class="form-group">
			    <label for="inputEmail3" class="col-sm-4 col-lg-4 control-label">Email</label>
			    <div class="col-sm-6 col-lg-6">
			      <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
			    </div>
			 </div>
			 <iframe src="/contactus/enquiry"></iframe>
		  	<div class="form-group">
		    	<label for="inputEmail3" class="col-sm-4 col-lg-4  control-label">Enquiry Type</label>
		    	<div class="col-sm-6 col-lg-4">
		      		<select>
							<option value="birthday_party"> Birth Day Party </option>
							<option value="kitty_party">Kitty Party</option>
							<option value="placement_party">Placement Party</option>
							<option value="marriage_party">Marriage Party</option>
							<option value="anniversary_party">Anniversary Party</option>
							<option value="conferences">Conferences</option>
							<option value="dealer_meet">Dealer Meet</option>
							<option value="business_dinner">Business dinner</option>
							<option value="roadshow/promotion">Roadshow/Promotion</option>
							<option value="family_outing">Family Outing</option>
							<option value="candle_light_dinner">Candle Light Dinner</option>
							<option value="dating">Dating</option>
					</select>
		    	</div>
		  	</div>
			  	<div class="form-group">
				    <label for="inputPassword3" class="col-sm-4 col-lg-4 control-label">Others</label>
				    <div class="col-sm-6 col-lg-6">
				      <input type="text" class="form-control" id="inputPassword3" placeholder="Any other Query">
				    </div>
		  		</div>
		  	
		  	<div class="form-group">
		    	<div class="col-sm-offset-4 col-sm-8">
		     		<button type="submit" class="btn btn-default">Submit</button>
		    	</div>
		  	</div>
		</form>
	</div>	
</div>
<div class="cleaner border_bottom"> </div>


