<div class=" container-fluid  text-justify" > 
	<div class="header_01 border_bottom"> Services</div>
	<div class="col-lg-3">
		<ul><span class="event">Private Events</span>
				<li>Birthday party</li>
				<li>Placement party</li>
				<li>Anniversaries</li>
				<li>Wedding planning</li>
		</ul>
	</div>
	<div class="col-lg-3">
		<ul><span class="event">Corporate Events</span>
				<li> Dealer meets</li>
				<li>Conferences</li>
				<li>Product Launch</li>
				<li>Business dinner</li>
				<li>Road show / Promotions</li>
		</ul>
	</div>
	<div class="col-lg-3">
		<ul><span class="event">Weekend Planning</span>
				<li>Family outing</li>
				<li>andle light dinner</li>
				<li>Dating</li>
		</ul>
	</div>
	<div class="col-lg-3">
		<ul><span class="event">Theme Events</span></ul>
		<ul><span class="event">Marketing</span></ul>
		<ul><span class="event">Live Events</span></ul>
		<ul><span class="event">Marketing</span></ul>
		<ul><span class="event">Devotional Events</span></ul>
		<ul><span class="event">Transport Facility</span></ul>
	</div>	
</div>
<div class="cleaner border_bottom"> </div>